h1 {
    color: red
}

.List1 {
    font-size: 30px;
    color: green;
    background-color: black;
}

#specialList{
    font-size: 40px;
    background-color: beige;
}

#newList {
    background-color: red;
}

.box {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 10px;
}

#specialBox  {
    background-color: green
}